@tailwind utilities;
@tailwind base;
@tailwind components;

/* Dark mode overrides */
:root {
	--ifm-color-primary: #7ec124;
}
@font-face {
	font-family: "Matter";
	src: url("/fonts/Matter-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Matter";
	src: url("/fonts/Matter-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Matter";
	src: url("/fonts/Matter-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Matter";
	src: url("/fonts/Matter-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

.container-custom {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1400px;
	padding-inline: 1rem;
}

.experience-bg {
	background: url(/img/Background.png);
	background-size: cover;
}

.image-container {
	container-type: inline-size;
}

.section-img {
	background: url(/img/section-img.png);
	background-size: cover;
	background-position: top 20px;
}

/* Style the arrow icon based on the container's width */
@container (max-width: 400px) {
	.arrow-icon {
		width: 80px; /* Smaller size for smaller containers */
		left: -60px; /* Adjust position */
		top: 20px;
	}
}

@container (min-width: 401px) and (max-width: 600px) {
	.arrow-icon {
		width: 120px;
		left: -50px; /* Adjust position */
		top: 40px;
	}
}

@container (min-width: 601px) {
	.arrow-icon {
		left: -40px; /* Adjust position */
		top: 60px;
	}
}

/* .navbar {
	height: 70px;
} */
