@tailwind utilities;
@tailwind base;
@tailwind components;

/* /src/css/custom.css */
@import './custom-markdown.css';

/* Dark mode overrides */
:root {
	--ifm-color-primary: #d9772a;
}
@font-face {
	font-family: "Matter";
	src: url("/fonts/Matter-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Matter";
	src: url("/fonts/Matter-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Matter";
	src: url("/fonts/Matter-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Matter";
	src: url("/fonts/Matter-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

.container-custom {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1400px;
	padding-inline: 1rem;
}

.cli-window {
	position: relative;
	background: linear-gradient(135deg, #ffffff, #f5f6f9);
	border-radius: 1.5rem;
	overflow: hidden;
}

.cli-window::before {
	content: "";
	position: absolute;
	top: 1.2rem;
	left: 1.5rem;
	width: 0.65rem;
	height: 0.65rem;
	border-radius: 9999px;
	background-color: #ff5f57;
	box-shadow: 1rem 0 0 #febc2e, 2rem 0 0 #28c840;
}

.cli-window pre {
	background: transparent !important;
	color: #1f130d !important;
	font-family: "Fira Code", "Source Code Pro", monospace;
	margin: 0;
	white-space: pre-wrap;
}

.navbar__title {
	color: var(--ifm-color-primary);
}
